{% extends 'base_form.html.twig' %}

{% block title %}{{ 'remove.title'|trans }}{% endblock %}

{% trans_default_domain "admin_era" %}

{% block body_form_pre %}
    <p>{{ "remove.confirm"|trans({"%era%": era.name}) }}</p>
{% endblock %}
