{% extends 'base_admin.html.twig' %}

{% block title %}{{ era.name }}{% endblock %}
{% block description %}{{ 'index.description'|trans }}{% endblock %}

{% trans_default_domain "admin_era" %}

{% block body_admin %}
    <h1>{{ era.name }}</h1>
    <p class="lead">
        {{ 'index.description'|trans }}
    </p>
{% endblock %}
