{% extends 'base.html.twig' %}

{% block description %}{{ block("title") }}{% endblock %}

{% block body %}
    <section class="container container-text py-5">
        <h1 class="mb-5">{{ block("title") }}</h1>

        {% block body_form %}
            {{ form(form) }}
        {% endblock %}
    </section>
{% endblock %}
